<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"><i class="fa fa-cutlery" aria-hidden="true"></i><strong> GrandFood</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 mr-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ">
      <!-- <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search Product" aria-label="Search"> -->
    </ul>
    <form class="form-inline">

      <button class="btn btn-outline-info mr-2" type="button" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-shopping-cart mr-2 fs-15" aria-hidden="true"></i>
        Add new Product</button>

      <button class="btn btn-outline-danger" type="button" (click)="buyNow()">
        <i class="fa fa-shopping-cart mr-2 fs-15" aria-hidden="true"></i>Buy Now</button>

    </form>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Add new Product</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">        
        <form [formGroup]="myForm" (ngSubmit)="submit()">        
          <div class="form-group">
            <label for="img">Image</label>
            <input type="file" accept=".jpg,.jpeg,.png,.gif.JPG,.JPEG,.PNG,.GIF" class="form-control" id="img" name="imgUrl" formControlName="imgUrl" placeholder="Add Image URL here" (change)="getImgFile($event)">
            <small *ngIf="!(img.size<=100000) && myForm.get('imgUrl').dirty" class="form-text text-danger">Image size is more than 100Kb please upload less than 100Kb image</small>
          </div>          
          <div class="form-group">
            <label for="productName1">Product Name</label>
            <input type="text" class="form-control" id="productName1" name="productName" formControlName="productName" placeholder="Add Product Name here">
            <small *ngIf="!myForm.get('productName').valid && myForm.get('productName').touched" class="form-text text-danger">Product name is required</small>
          </div>
          <div class="form-group">
            <label for="productRate1">Product Price</label>
            <input type="text" class="form-control" id="productRate1" name="productRate" formControlName="productRate" placeholder="Add Product Price here">
            <small *ngIf="!myForm.get('productRate').valid && myForm.get('productRate').touched" class="form-text text-danger">
              <span *ngIf="myForm.get('productRate')?.errors?.['required']">Product Price is required</span>
              <span *ngIf="myForm.get('productRate')?.errors?.['pattern']">Enter only numeric values</span>
            </small>
          </div>
          <div class="ml-auto">
            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Add Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>