<div class="row">
  <div class="col-sm-12">
    <div class="row row-cols-1 row-cols-md-3 mt-2">
      <div class="col mb-4" *ngFor="let data of productList1">
        <div class="card h-100 text-center">
          <img [src]="data.img" class="card-img-top w-100" alt="...">
          <div class="card-body">
            <h2 class="card-title" >{{data.pName}}</h2>
            <h4 class="card-title">{{data.rate | currency : 'INR'}}</h4>
            <hr>
    
            <button class="btn btn-info btn-sm" (click)="decrease(data)">-</button>
            <input type="text" class="text-center w-25" [(ngModel)]="data.quantity">
            <button class="btn btn-info btn-sm" (click)="Increase(data)">+</button>
            
            <hr>
            <a class="btn btn-info" (click)="addToBag(data)">Add to Bag</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm 12">
    <h1>My shopping Bag</h1>
<table class="table table-bordered">
  <thead class="thead-dark text-center">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price Details</th>
      <th scope="col">Order Total</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shopListitem of shoppedList" class="text-center">
      <td scope="row">{{shopListitem.pName}}</td>
      <td>{{shopListitem.quantity}}</td>
      <td>{{shopListitem.rate | currency : 'INR'}}</td>
      <td>{{shopListitem.rate*shopListitem.quantity | number: '1.2-4' | currency : 'INR'}}</td>
      <td>{{shopListitem.action}}</td>
    </tr>
    <tr>
      <td colspan="3" class="text-right font-weight-bold">Total</td>
      <td class="text-right font-weight-bold">{{grandTotals | currency : 'INR'}}</td>
      <td></td>
    
    </tr>
  </tbody>
</table>
  </div>
</div>

